html, body, .container {
  background-color: #e9ebee !important;
  min-height: 100vh;
  font-size: 14px;
  cursor: url('/images/thumb.png') 64 64, auto;
}

.container {
  margin-top: 55px;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 40px;
  width: 100%;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
}

.entry {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  padding: 10px;
}

.entry:not(.disabled):hover {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.entry:not(.disabled):active, .entry.selected {
  background-color: #1787FB !important;
  color: white !important;
}

.entry:not(.disabled):active {
  cursor: url('/images/heart.png') 64 64, auto;
}

.entry.disabled {
  background-color: #e9ebee;
}

.entry .image {
  margin-top: 5px;
  text-align: center;
  background-color: #ddd;
}

.entry .image img {
  max-height: 100px;
}

.propic {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  overflow: hidden;
}

.performer-meta {
  display: inline-block;
  vertical-align: top;
}

.entry .performer .name {
  font-weight: bold;
  color: #4267b2;
}

.entry .performer .meta {
  font-size: 12px;
  color: #777;
}